# The user that can connect to the weather database
DBUSER=weather

# The password for the user in the weather database
DBPASS=test

# The host containing the weather database
DBHOST=localhost

# The MySQL database name with the weather data
DBDATABASE=weather

# Serial device for Arduino (suggest using /dev/serial/by-id reference as it's consistent)
SERIAL_PORT=/dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_A4132373935351605241-if00

# Number of seconds between refreshes
REFRESH=10
